USE [master]
GO
/****** Object:  Database [MyDB]    Script Date: 09/29/2015 17:40:28 ******/
CREATE DATABASE [MyDB] ON  PRIMARY 
( NAME = N'MyDB', FILENAME = N'D:\Data\MyDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MyDB_log', FILENAME = N'D:\Data\MyDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MyDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MyDB]
GO
/****** Object:  Table [dbo].[Sys_Error]    Script Date: 09/29/2015 17:40:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sys_Error](
	[Id] [uniqueidentifier] NOT NULL,
	[Tjsj] [datetime] NOT NULL,
	[Clsj] [datetime] NOT NULL,
	[Lx] [nchar](1) NULL,
	[Zt] [nchar](1) SPARSE  NULL,
 CONSTRAINT [PK_Sys_Error] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'如1支付错误' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Error', @level2type=N'COLUMN',@level2name=N'Lx'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0为处理 1 已处理' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Error', @level2type=N'COLUMN',@level2name=N'Zt'
GO
/****** Object:  Table [dbo].[Pro_Queue]    Script Date: 09/29/2015 17:40:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pro_Queue](
	[Id] [uniqueidentifier] NOT NULL,
	[Jhsj] [datetime] NOT NULL,
	[Clsj] [datetime] NULL,
	[Zt] [nchar](1) NOT NULL,
 CONSTRAINT [PK_tb_queue] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'j激活时间进入队列时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pro_Queue', @level2type=N'COLUMN',@level2name=N'Jhsj'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'处理时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pro_Queue', @level2type=N'COLUMN',@level2name=N'Clsj'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0 排队中 1 进入支付队列 2 出错' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pro_Queue', @level2type=N'COLUMN',@level2name=N'Zt'
GO
INSERT [dbo].[Pro_Queue] ([Id], [Jhsj], [Clsj], [Zt]) VALUES (N'd3374e6d-1374-4787-a93e-000465e04105', CAST(0x0000A522010A68C8 AS DateTime), CAST(0x0000A522010A7DE0 AS DateTime), N'1')
INSERT [dbo].[Pro_Queue] ([Id], [Jhsj], [Clsj], [Zt]) VALUES (N'4f9085a2-2c9a-4c84-b194-0013309600b5', CAST(0x0000A522010A6C4C AS DateTime), CAST(0x0000A522010A90A0 AS DateTime), N'1')
INSERT [dbo].[Pro_Queue] ([Id], [Jhsj], [Clsj], [Zt]) VALUES (N'0ca4892f-d19a-469c-a994-00328cd38aa9', CAST(0x0000A522010ACB38 AS DateTime), NULL, N'0')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
GO
print 'Processed 1800 total records'
GO
print 'Processed 1900 total records'
GO
print 'Processed 2000 total records'
GO
print 'Processed 2100 total records'
GO
print 'Processed 2200 total records'
GO
print 'Processed 2300 total records'
GO
print 'Processed 2400 total records'
GO
print 'Processed 2500 total records'
GO
print 'Processed 2600 total records'
GO
print 'Processed 2700 total records'
GO
print 'Processed 2800 total records'
GO
print 'Processed 2900 total records'
GO
print 'Processed 3000 total records'
GO
print 'Processed 3100 total records'
GO
print 'Processed 3200 total records'
GO
print 'Processed 3300 total records'
GO
print 'Processed 3400 total records'
GO
print 'Processed 3500 total records'
GO
print 'Processed 3600 total records'
GO
print 'Processed 3700 total records'
GO
print 'Processed 3800 total records'
GO
print 'Processed 3900 total records'
GO
print 'Processed 4000 total records'
GO
print 'Processed 4100 total records'
GO
print 'Processed 4200 total records'
GO
print 'Processed 4300 total records'
GO
print 'Processed 4400 total records'
GO
print 'Processed 4500 total records'
GO
print 'Processed 4600 total records'
GO
print 'Processed 4700 total records'
GO
print 'Processed 4800 total records'
GO
print 'Processed 4900 total records'
/****** Object:  Table [dbo].[Pro_Pay]    Script Date: 09/29/2015 17:40:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pro_Pay](
	[Id] [uniqueidentifier] NOT NULL,
	[Tjsj] [datetime] NOT NULL,
	[Clsj] [datetime] NULL,
	[Zt] [nchar](1) NOT NULL,
 CONSTRAINT [PK_tb_pay] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'添加时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pro_Pay', @level2type=N'COLUMN',@level2name=N'Tjsj'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'处理时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pro_Pay', @level2type=N'COLUMN',@level2name=N'Clsj'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0待处理 1成功 2 失败' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Pro_Pay', @level2type=N'COLUMN',@level2name=N'Zt'
GO
INSERT [dbo].[Pro_Pay] ([Id], [Tjsj], [Clsj], [Zt]) VALUES (N'd3374e6d-1374-4787-a93e-000465e04105', CAST(0x0000A522010A7DE0 AS DateTime), NULL, N'0')
INSERT [dbo].[Pro_Pay] ([Id], [Tjsj], [Clsj], [Zt]) VALUES (N'4f9085a2-2c9a-4c84-b194-0013309600b5', CAST(0x0000A522010A90A0 AS DateTime), NULL, N'0')
INSERT [dbo].[Pro_Pay] ([Id], [Tjsj], [Clsj], [Zt]) VALUES (N'0895256e-b62e-413c-ab67-009dec1ff36c', CAST(0x0000A522010A6670 AS DateTime), NULL, N'0')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
/****** Object:  Default [DF_tb_queue_Zt]    Script Date: 09/29/2015 17:40:29 ******/
ALTER TABLE [dbo].[Pro_Queue] ADD  CONSTRAINT [DF_tb_queue_Zt]  DEFAULT ((0)) FOR [Zt]
GO
